<div id="headerDiv">

        {{#if user}}
            <a href="/logout">Logout</a>
        {{else}}
            <a href="/login">Login</a>
        {{/if}}

        <a href="/register">Register</a>

    {{#if user}}
        <a href="/createSnippet">Create a snippet</a>
    {{/if}}

        <a href="/snippets">View snippets</a>
</div>
