<div id="headerDiv">
        {{#if user}}
            <a href="/logout">Logout</a>
            <a href="/createSnippet">Create a snippet</a>
        {{else}}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {{/if}}
        <a href="/snippets">View snippets</a>
</div>
