<div id="headerDiv">
        {{#if user}}
            <a href="/logout">Logout</a>
        {{else}}
            <a href="/login">Login</a>
        {{/if}}

        <a href="/createUser">Register</a>
        <a href="/createSnippet">Create a snippet</a>
        <a href="/snippets">View snippets</a>



</div>
