<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <title>EXAM 2</title>

</head>
<body>
  <div id="wrapper">
      {{> header}}
      {{{ body }}}

  </div>
      {{>footer}}
</body>
</html>
