<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
    <link rel="stylesheet" href="/highlight/styles/darcula.css">
    <meta charset="UTF-8">
    <title>EXAM 2</title>

</head>
<body>
    <div id="parentWrapper">
        <div id="wrapper">
            {{> header}}
            {{{ body }}}

        </div>

    </div>
    {{>footer}}

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
