<div class="centerDiv">
    <form action="/createSnippet" method="post">
        <input class="form-control" name="snippetDesc" value="" placeholder="Description"/>
        <input class="form-control" name="snippetCont" value="" placeholder="Content"/>

        <button type="submit" class="formButton">Submit Snippet</button>
    </form>
</div>

