<form action="/createUser" method="post">
    <input class="form-control" type="text" name="userReg" value="" placeholder="Enter username"/>
    <input class="form-control" type="password" name="passReg" value="" placeholder="Enter password"/>

    <button type="submit" class="formButton">Register</button>
</form>
