<div class="centerSnippet">
    <form action="/createSnippet" method="post">
        <div class="snippetsUpdate">
            <input class="form-control" name="snippetDesc" value="" placeholder="Title"/>
            <p></p>
            <hr color="black">
            <textarea class="readSnippet" name="snippetCont" placeholder="Your code goes here..."></textarea>
            <p></p>
            <hr color="black">



            <button type="submit" class="formButton">Submit Snippet</button>
        </div>
    </form>
</div>
