<div class="centerSnippet">
    <form action="/createSnippet" method="post">
        <div class="snippetsUpdate">
            <h4>Description:</h4>
            <p></p>
            <hr color="black">
            <h4>Content:</h4
            <p></p>
            <hr color="black">

            <input class="form-control" name="snippetDesc" value="" placeholder="Description"/>
            <input class="form-control" name="snippetCont" value="" placeholder="Code"/>
            <button type="submit" class="formButton">Submit Snippet</button>
        </div>
    </form>
</div>
