<div class="centerSnippet">
    <form method="post">
        <div class="snippetsUpdate">
            <h4>Description:</h4>
            <p>{{ hej.description }}</p>
            <hr color="black">
            <h4>Content:</h4
            <p>{{ hej.content }}</p>
            <hr color="black">
            <p class="createdAt">Created at: {{ hej.createdAt }}</p>

            <button type="submit" class="centerDiv">Delete Snippet</button>
        </div>
    </form>
</div>




