<form action="/login" method="post">
        <input class="form-control" name="value" value="" placeholder="Enter username"/>

    <button type="submit" class="btn btn-warning btn-lg">Login</button>
</form>
