<div class="centerSnippet">
<form method="post">
    <div class="snippetsUpdate">
        <input class="form-control" name="snippetDesc" value="{{ snippet.description }}" placeholder=""/>
            <hr color="black">
        <textarea class="readSnippet" name="snippetCont">{{ snippet.content }}</textarea>
            <hr color="black">
        <p class="createdAt">Created at: {{ snippet.createdAt }}</p>


        <button type="submit" class="formButton">Update Snippet</button>
    </div>
</form>
</div>
