@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: #47808A;
    padding-top: 50px;
    font-family: "Open Sans", Impact;
}

::-webkit-scrollbar {
    width: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    /*color: #24434D;*/

}

#wrapper {
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    background-color: #0F454F;
    padding-bottom: 15px;
    position: relative;
    border: 3px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 5px 5px 5px 5px;
}

#headerDiv {
    display: inline-block;
    width: 1000px;
    height: 70px;
    text-align: center;
    padding-top: 35px;
    border-bottom: 5px solid #012C34;
    background-color: #C7DEE5;
}

@keyframes headerLinks {
    from {font-size: 30px;}
    to {font-size: 29px;}
}

#headerDiv a {
    padding-left: 40px;
    margin-left: 10px;
    font-size: 30px;
    /*color: #6A959D;*/
}

#headerDiv a:hover {
    animation-name: headerLinks;
    animation-duration: 0.1s;
    font-size: 29px;
    font-weight: bold;
}

#startForms a {
    margin-left: 15px;
    color: ghostwhite;
}

.formButton {
    width: 120px;
}

.snippets {
    padding: 5px;
    margin-top: 15px;
    margin-left: 15px;
    width: 290px;
    background-color: #B0D3DF;
    border: 3px solid #012B35;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    float: left;
}
.snippets h4 {
    margin-top: -3px;
    text-align: center;
}

.snippets a {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: black;

}

.snippetLink{
    font-size: 15px;
}

.snippetContent {
    font-size: 14px;
}

@keyframes linkText {
    from {font-size: 15px;}
    to {font-size: 14px;}
}

.snippetLink:hover {
    animation-name: linkText;
    animation-duration: 0.3s;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.snippets:hover {
    background-color: #D6E9EF;
}

.snippetsUpdate {
    padding: 5px;
    margin-top: 15px;
    margin-left: 15px;
    width: 290px;
    background-color: #B0D3DF;
    border: 3px solid #012B35;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.readSnippet {
    width: 280px;
    height: 200px;
}

#viewSnippet {
    margin: 0 auto;
    /*background-color: white;*/
    width: 500px;
    padding: 10px;
}






.createdAt {
    font-size: 10px;
}

.centerDiv {
    text-align: center;
}

.centerDiv {
    color: #B0D3DF;
}

.centerSnippet {
    margin-left: 350px;
}




footer {
    margin-top: 20px;
    text-align: center;
}

