@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: #47808A;
    /*padding-top: 50px;*/
    font-family: "Open Sans", Impact;
    padding-top: 20px;
}

header {
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    /*color: #24434D;*/

}

#wrapper {
    margin: 0 auto;
    width: 1000px;
    height: 450px;
    background-color: #0F454F;
    padding-bottom: 15px;
    position: relative;
    border: 3px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 0 0 5px 5px;
}

#headerDiv {
    margin: 0 auto;
    position: relative;
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-radius: 5px 5px 0 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow:  2px 0 25px 2px #6E6E6E inset;
    background-color: #A8E0E9;
    text-align: center;
}

#headerDiv a {
    padding-left: 23px;
    padding-right: 23px;
    font-size: 30px;
    color: #083B45;
}

#headerDiv a:hover {
    font-weight: bold;
}

#startForms a {
    margin-left: 15px;
    color: ghostwhite;
}

.formButton {
    width: 120px;
}

.snippets {
    background-color: #B0D3DF;
    overflow: hidden;
    padding: 5px;
    margin-top: 15px;
    margin-left: 15px;
    width: 290px;
    max-height: 200px;
    border: 3px solid #012B35;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    float: left;
    transition: box-shadow 0.1s;
}

.snippets:hover {
    box-shadow:  4px 4px 4px rgba(0,0,21,1);
}

.snippets pre {
    display: inline-block;
    max-height: 50px;
    margin-left: -5px;
    white-space: nowrap;
    font-size: 12px;
    opacity:0.6;
    transition: opacity 0.15s;
    text-overflow: ellipsis;
}

.snippets pre:hover {
    cursor: zoom-in;
}

.snippets:hover > a > pre {
    opacity:1
}

#viewSnippet pre:hover {
    cursor: zoom-out;
}

.snippetLink {
    font-size: 14px;
    font-weight: normal;
    color: black;
    transition: font-size 0.1s;
}

.snippetLink:hover {
    font-weight: bold;
    font-size: 13.5px;
}


#snippetLanguage {
    float: right;
    background-color: #8FC3CC;
    transition: none;
}

#snippetLanguage:hover {
    transition: none;
}



.snippetContent {
    font-size: 14px;
}




#snippetTitle {
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
    transition: font-size 0.2s;
}

#snippetTitle:hover {
    opacity: 0.8;
}



.snippetsUpdate {
    text-align: center;
    padding: 5px;
    margin-top: 15px;
    margin-left: 15px;
    width: 290px;
    background-color: #B0D3DF;
    border: 3px solid #012B35;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.readSnippet {
    width: 280px;
    height: 200px;
    resize: none;
}

#viewSnippet {
    margin: 0 auto;
    width: 400px;
    padding: 10px;
}

.createdAt {
    font-size: 10px;
}

#createdBy {
    float: right;
    font-size: 10px;
    margin-top: 5px;
}

.centerDiv {
    text-align: center;
}



.centerSnippet {
    margin-left: 350px;
}

.form-control {
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.centerForm {
    position: relative;
    margin: 0 auto;
    width: 200px;
}

.errorDiv {
    margin: 0 auto;
    text-align: center;
    width: 700px;
    height: 200px;
    background-color: lightblue;
}

.errorDiv h1 {
    font-size: 65px;
}

.errorDiv a {
    font-weight: bold;
    text-decoration: underline;
}


#codeLanguage {
    width: 148.8px;
}

#loggedIn {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10px;
    float: left;

}

.fail {
    background-color: orangered;
    width: 290px;
    margin-left: 20px;
    margin-top: 10px;
}

.success {
    background-color: lightseagreen;
    margin-top: 10px;
}

#editIcon {
    margin-left: 10px;
    margin-top: 15px;
}

#removeIcon {
    font-size: 20px;
}

h2 {
    color: #7CB6CA;
}

footer {
    margin: 0 auto;
    width: 400px;
    text-align: center;
    background-color: #3FF161;
    border-radius:  10px 10px 10px 10px;
    opacity: 0.5;
}

footer i {
    margin-right: 5px;
}





