@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: #47808A;
    /*padding-top: 50px;*/
    font-family: "Open Sans", Impact;
}

::-webkit-scrollbar {
    width: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    /*color: #24434D;*/

}

#wrapper {
    margin: 0 auto;
    width: 1000px;
    height: 550px;
    background-color: #0F454F;
    padding-bottom: 15px;
    position: relative;
    border: 3px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 0 0 5px 5px;
}

#headerDiv {
    margin: 0 auto;
    position: relative;
    width: 1000px;
    height: 70px;
    text-align: center;
    padding-top: 35px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-radius: 5px 5px 0 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: #C7DEE5;
}



#headerDiv a {
    padding-left: 40px;
    margin-left: 10px;
    font-size: 30px;
    transition: font-size 0.1s;
}

#headerDiv a:hover {

    font-size: 29px;
    font-weight: bold;
    /*color:yellow;*/
}

#startForms a {
    margin-left: 15px;
    color: ghostwhite;
}

.formButton {
    width: 120px;
}

.snippets {

    overflow: hidden;
    padding: 5px;
    margin-top: 15px;
    margin-left: 15px;
    width: 290px;
    max-height: 200px;
    background-color: #B0D3DF;
    border: 3px solid #012B35;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    float: left;
    transition: box-shadow 0.1s;
}

.snippets:hover {
    box-shadow:  4px 4px 4px rgba(0,0,21,1);
}

.snippets pre {
    display: inline-block;
    max-height: 50px;
    margin-left: -5px;
    white-space: nowrap;
    font-size: 12px;
    opacity:0.6;
    transition: opacity 0.15s;
    text-overflow: ellipsis;
}

.snippets pre:hover {
    opacity:1
}

.snippets a {
    font-size: 14px;
    font-weight: normal;
    color: black;
    transition: font-size 0.1s;

}

.snippets a:hover {
    font-weight: bold;
    font-size: 13.5px;
}

.snippetContent {
    font-size: 14px;
}


#snippetTitle {
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
    transition: font-size 0.2s;
}

#snippetTitle:hover {
    opacity: 0.8;
}





.snippetsUpdate {
    padding: 5px;
    margin-top: 15px;
    margin-left: 15px;
    width: 290px;
    background-color: #B0D3DF;
    border: 3px solid #012B35;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.readSnippet {
    width: 280px;
    height: 200px;
    resize: none;
}

#viewSnippet {
    margin: 0 auto;
    /*background-color: white;*/
    width: 500px;
    padding: 10px;
}






.createdAt {
    font-size: 10px;
}

.centerDiv {
    text-align: center;
}

.centerDiv {
    color: #B0D3DF;
}

.centerSnippet {
    margin-left: 350px;
}

.form-control {
    margin-left: 60px;
    text-align: center;
}

.errorDiv {
    margin: 0 auto;
    text-align: center;
    width: 700px;
    height: 200px;
    background-color: lightblue;
}

.errorDiv h1 {
    font-size: 65px;
}

.errorDiv a {
    font-weight: bold;
    text-decoration: underline;
}





footer {
    margin-top: 20px;
    text-align: center;
}

