
<form class="centerForm" method="post">
    {{> flash }}
    <input class="form-control" type="text" name="userReg" value="" placeholder="Choose username"/>
    <input class="form-control" type="password" name="passReg" value="" placeholder="Choose password"/>

    <button type="submit" class="formButton">Register</button>
</form>
